@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: auto;
  /* -webkit-overflow-scrolling: touch;
	overflow-scrolling: touch; */
  /* cursor: none; */
}

::-webkit-scrollbar {
  width:10px;
  background-color:transparent;
}
::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background-color: #5e5858;
  border-radius: 10px;
  height: 80px;
  padding-top: 10px;
  position: relative;
  top: -40px;
 }
 
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@font-face {
  font-family: ogg;
  src: url('../public/Fonts/OggLight.ttf');
}

@font-face {
  font-family: founder;
  src: url('../public/Fonts/tfg.otf');
}

@font-face {
  font-family: founderBold;
  src: url('../public/Fonts/founderBold.otf');
}

@font-face {
  font-family: founderMedium;
  src: url('../public/Fonts/founderMedium.otf');
}

.cursor{
  position: fixed;
  width: 20px;
  height: 20px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  transition: transform .3s ease;
  transform-origin: center center;
  background: #463838;
  pointer-events: none;
  z-index: 1000;
}
.grow, .grow-small{
  transform: scale(3.5);
  background: #fff !important;
  mix-blend-mode: difference;
  border: none;
  background-color: none;
  /* opacity: 0.1; */
}
.grow-small{
  transform: scale(2.5);
  border:none;
}
.image_container{
  
}

.hero_header{
  @apply text-[24px]  md:text-[88.57px] leading-[42px] md:leading-[102px] font-[ogg] ;
}

.hero_header_about{
  @apply text-[24px]  md:text-[58.57px] leading-[42px] md:leading-[68px] font-[ogg] text-[#fff] ;
}

.hide_container{
  visibility: hidden;
}


.menu_conatainer{
cursor: none;
}
.description_header{
  @apply text-[18px]  md:text-[20.57px] leading-[22px] md:leading-[24px] text-[white] font-[founder] self-center text-center ;
}

.circle_container{
 @apply border border-[#FFD551]  rounded-full h-32 w-32 md:h-[220px] md:w-[220px] flex justify-center ;
 border-width: thin;
 font-weight: lighter;
}
.circle_container_new{
  @apply border border-[#FFD551]  rounded-full min-h-[200px] min-w-[200px] md:min-h-[280px] md:min-w-[280px] flex justify-center overflow-hidden;
  border-width: thin;
  font-weight: lighter;
 }
.circle_text{
  @apply text-[12px] md:text-[30px]  text-[#FFD551] font-[ogg] leading-[18px] md:leading-[36px] text-center w-[65%];
 
}
.circle_text_new{
  @apply text-[16px] md:text-[30px]  text-[#fff] font-black font-[ogg] leading-[24px] md:leading-[36px] text-center w-[65%];
 
}


.work_text{
  @apply text-[18px] leading-[36px] text-[#FFD551] font-[ogg];
  font-family: 'Courier New', Courier, monospace;
}

.circle_container_menu{
  @apply border border-[#413131] rounded-full  md:w-[250px] md:h-[250px] w-[300px] h-[300px] flex justify-center text-[#413131] ;
}
.text_glow{
  visibility: hidden;
}
.circle_text_menu{
  @apply text-[44px] md:text-[44px] text-[#413131] font-[ogg] leading-[84px] 

}

.resourse_text{
  @apply text-[24px] md:text-[64px] text-[#fff] font-[ogg] leading-[44px] md:leading-[74px];
  visibility: hidden;

}
.gallery_text{
  @apply text-[24px] md:text-[44px] text-[#fff] font-[ogg] leading-[30px] md:leading-[54px];
  visibility: hidden;

}
.circle_header{
  @apply text-[24px]  md:text-[68.57px] leading-[32px] md:leading-[82px] font-[ogg] text-white;
 
}


.circle_text_animation{
  @apply text-[16px] md:text-[30px]  text-[#FFD551] font-[ogg] leading-[24px] md:leading-[36px] text-center w-[65%] self-center;
  animation: neon2 1.5s ease-in-out alternate;
}

.card_header{
  @apply text-[14px]  md:text-[16.57px] leading-[22px] md:leading-[24px] text-[#441414] font-[founder] font-semibold ;

}
.card_description{
  @apply text-[12px]  md:text-[14.57px] leading-[22px] md:leading-[24px] text-[#441414] font-[founder] ;

}
.card_header_2{
  @apply text-[18px]  md:text-[28.57px] leading-[22px] md:leading-[32px] text-[#441414] font-[founderBold]  underline bottom-[10px];

}

.card_bottom_header{
  @apply text-[18px]  md:text-[16.57px] leading-[22px] md:leading-[32px] text-[#441414] font-[founderBold]   ;

}
.card_bottom_text{
  @apply text-[10px]  md:text-[14.57px] leading-[22px] md:leading-[24px] text-[#441414] font-[founder] ;

}
.main_3_header{
  @apply text-[24px] md:text-[64px] text-[#441414] font-[ogg] leading-[44px] md:leading-[74px];

}

.main_3_header_span{
  @apply text-[24px] md:text-[64px] text-[#441414] font-[founder] leading-[44px] md:leading-[36px] font-medium  border-b-[3px] border-[#441414] pb-[-40px];
  font-weight: bolder;

}
.footer_hr{
@apply border-b-[1px] border-[#441414]
}

.footer_bottom_text{
  @apply text-[16px]  md:text-[18.57px] leading-[22px] md:leading-[24px] text-[#441414] font-[founderMedium] ;

}

.calendar_list{
  @apply text-[16px] md:text-[36px]  text-[#441414] font-[ogg] leading-[24px] md:leading-[46px] ;

}
.button_footer{
  @apply border-[2px] hover:bg-[#441414] hover:text-[#FFD551]  rounded-lg border-[#441414] p-3 pl-6 pr-6  text-[16px]  md:text-[20.57px] leading-[22px] md:leading-[24px] text-[#441414] font-[founderBold] 
}
.count{
  @apply text-[24px] md:text-[20px]  text-[#fff] font-[founder] leading-[34px] md:leading-[24px] ;
  visibility: hidden;

}

.count_1{
  @apply text-[24px] md:text-[20px]  text-[#fff] font-[founder] leading-[34px] md:leading-[24px] ;

}

.container_about_header{
  @apply text-[24px] md:text-[38px]  text-[#fff] font-[ogg] leading-[28px] md:leading-[36px] font-medium ;

}

.container_about_header1{
  @apply text-[24px] md:text-[48px]  text-[#fff] font-[ogg] leading-[28px] md:leading-[58px] font-medium ;

}
.text_container_1{
  visibility: hidden;

}
.text_container_3{
  visibility: hidden;

}
.text_container_2{
  visibility: hidden;

}
.count_text_container_3{
  visibility: hidden;

}
.count_text_container_2{
  visibility: hidden;

}
.count_text_container_1{
  visibility: hidden;

}
.text_cont_1{
  visibility: hidden;
}
.circle_main_container{
  visibility: hidden;

}

.container_about_description{
  @apply text-[18px] md:text-[16px]  text-[#fff] font-[founder] leading-[30px] md:leading-[26px] font-[100] tracking-[1.5px] ;

}

.header_profile{
  @apply text-[24px] md:text-[54px] text-[#fff] font-[ogg] leading-[38px] md:leading-[50px];
  
}

.hide_profile_text {
  visibility: hidden;
}

.card_header_about{
  @apply text-[32px] md:text-[32px]  text-[#fff] font-[founderMedium] leading-[60px] md:leading-[56px] tracking-[0.5px] ;

}

.gallery_header{
  @apply text-[24px] md:text-[64px] text-[#fff] font-[ogg] leading-[44px] md:leading-[74px];

}
.card_description_about{
  @apply text-[24px] md:text-[24px]  text-[#FFD551] font-[founder] leading-[30px] md:leading-[32px] ;

}
.reveal {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform-origin: left;
}



/* About Us */

/* #underline{
  position: absolute;
  background-color: 441414;
  height: 10px;
  bottom: -2px;
  left: 0px;
  z-index: -1;
} */



.postion_menu{
  position:fixed;
}


@keyframes neon2 {
  from {
    text-shadow: 0 0 0.5px #fff, 0 0 0.5px #fff, 0 0 0.5px #fff, 0 0 0.5px #fff,
      0 0 0.5px #fff, 0 0 0.5px #fff, 0 0 0.5px #fff, 0 0 0.5px #fff;
  }
  to {
    text-shadow: 0 0 0.5px #fff, 0 0 0.5px #fff, 0 0 0.5px #fff, 0 0 0.5px #fff,
      0 0 0.5px #fff, 0 0 0.5px #fff, 0 0 0.5px #fff, 0 0 0.5px #fff;
  }
}

@keyframes neon3 {
  from {
    box-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff,
      0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
  }
  to {
    box-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff,
      0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
  }
}
/* .ball {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid dodgerblue;
  border-radius: 50%;
  pointer-events: none;
} */

/* .menu_1{
  @apply ;
} */



/* Work */

.work_header{
  @apply font-[ogg] text-[32px] md:text-[48px] leading-[36px] md:leading-[56px] font-semibold text-[#441414]
}

.work_description{
  @apply font-[founder] text-[16px] md:text-[22px] leading-[26px] md:leading-[32px] text-[#441414] font-medium 

}

.show_card_header{
  @apply font-[ogg] text-[32px] md:text-[56px] leading-[36px] md:leading-[66px] font-medium text-[#fff]

}

.show_card_description{
  @apply font-[founder] text-[16px] md:text-[22px] leading-[26px] md:leading-[32px] text-[#fff] 

}
.work1_text_header{
  @apply font-[ogg] text-[22px] md:text-[38px] leading-[30px] md:leading-[46px] font-semibold text-[#441414]

}
.work1_text_subtitle{
  @apply font-[founderMedium] text-[16px] md:text-[18px] leading-[26px] md:leading-[32px] text-[#441414] 

}
.work1_text_description{
  @apply font-[founder] text-[14px] md:text-[18px] leading-[18px] md:leading-[24px] text-[#441414]

}
.calendar_list1{
  @apply text-[32px] md:text-[48px]  text-[#441414] font-[ogg] leading-[38px] md:leading-[66px] font-medium;

}

.calendar_list1_talk{
  @apply text-[24px] md:text-[32px]  text-[#441414] font-[founder] leading-[28px] md:leading-[36px] font-semibold underline;

}


/* Carousel */


h2 {
  font-size: clamp(1rem, 5vw, 5rem);
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  color: hsl(0, 0, 80%);
  width: 90vw;
  max-width: 1200px;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
  z-index: 99;
  height: 7em;
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(0.66rem, 2vw, 1rem);
  letter-spacing: 0.5em;
}

.side_contianer{
  position: fixed;
  z-index: 99;
  @apply bg-white top-[35%] right-[10px] rounded-full; 
}

.section1 {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;

  .outer,
  .inner {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }

  .bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
    background-position: center;

    h2 {
      z-index: 2;
    }

    .clip-text {
      overflow: hidden;
    }
  }
}

.first {
  .bg {
    background-image: 
      url("https://images.unsplash.com/photo-1617478755490-e21232a5eeaf?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU1NjM5NA&ixlib=rb-1.2.1&q=75&w=1920");
  }
}

.second {
  .bg {
    background-image: 
      url("https://images.unsplash.com/photo-1617128734662-66da6c1d3505?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzc3NTM3MA&ixlib=rb-1.2.1&q=75&w=1920");

  }
}

.third {
  .bg {
    background-image: 
      url("https://images.unsplash.com/photo-1617438817509-70e91ad264a5?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU2MDk4Mg&ixlib=rb-1.2.1&q=75&w=1920");

  }
}

.fourth {
  .bg {
    background-image: 
      url("https://images.unsplash.com/photo-1617412327653-c29093585207?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU2MDgzMQ&ixlib=rb-1.2.1&q=75&w=1920");
  }
}

.fifth {
  .bg {
    background-image: 
      url("https://images.unsplash.com/photo-1617141636403-f511e2d5dc17?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxODAzMjc4Mw&ixlib=rb-1.2.1&q=75w=1920");
    background-position: 50% 45%;
  }
}

h2 * {
  will-change: transform;
}


.al_gif_play{
  background: url('/al/al_gallery_3.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.al_gif_play:hover{
  background: url('/al/al_gif_2.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.al_gif_play_1{
  background: url('/al/al_gallery_2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.al_gif_play_1:hover{
  background: url('/al/al_gif_1.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.al_gif_play_2{
  background: url('/al/al_demo_pic_1.png');
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;

}

.al_gif_play_2:hover{
  background: url('/al/al_gif_3.gif');
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
}

.pf_gif_play_1{
  background: url('/pf/half_pf_1.png');
  background-repeat: no-repeat;
  background-size:contain;

}

.pf_gif_play_1:hover{
  background: url('/pf/pf_tab_gif.gif');
  background-repeat: no-repeat;
  background-size:cover;
}


.pf_gif_play_2{
  background: url('/pf/pf_2_2.png');
  background-repeat: no-repeat;
  background-size:cover;

}

.pf_gif_play_2:hover{
  background: url('/pf/pf_icon_gif.gif');
  background-repeat: no-repeat;
  background-size:cover;
}

.ad_home_bg{
  background: url('/ad_home_1.png') ;
  background-repeat: no-repeat;
  background-size:cover;
  @apply w-[70%] m-6;
}

.ad_home_bg:hover{
  background: url('/al/al_logo_animation.gif');
  background-repeat: no-repeat;
  background-size:cover;
  @apply w-[180%];
 
}

.yara_home_bg{
  background: url('/work_3.png') ;
  background-repeat: no-repeat;
  background-size:cover;
}

.yara_home_bg:hover{
  background: url('/yara_gif_home_1.gif');
  background-repeat: no-repeat;
  background-size:cover;
  @apply m-1;
}

.pf_home_bg{
  background: url('/pf/half_pf_1.png') ;
  background-repeat: no-repeat;
  background-size:cover;
}

.pf_home_bg:hover{
  background: url('/pf/pf_tab_gif.gif');
  background-repeat: no-repeat;
  background-size:cover;
}


.hover_opacity{
  opacity: 1;
}
.unhover_opacity{
  opacity: 0;
}

.haw_header{
  @apply font-[ogg] text-[32px] md:text-[68px] leading-[36px] md:leading-[78px] font-medium   text-[#fff]

}

.overflow_check{
  overflow:hidden !important;
}